body {
  margin: 0;
  text-align: center;
  /*align everything inside body to center */
  font-family: Merriweather, serif;
  /*serif is the fallback */
}

h1 {
  color: #66BFBF;
  width: 50%;
  /*When Block element is used and if width is set then need to use margin as follows for centering */
  margin: 0 auto 0 auto;
  /*top 0, right auto, bottom 0, left auto */
  text-align: center;
  top: 100px;
  font-family: Sacramento, serif;
  font-size: 5.625rem;
  /*100% = 16px =1rem If we specify this way then the font size will shrink/grow dynamically when the page size is altered by end user*/
  /*serif is the fallback */
}

h2 {
  color: #66BFBF;
  font-family: Darker-Grotesque, sans-serif;
  /*sans-serif is the fallback */
  font-size: 1.875rem;
  font-weight: lighter;
  margin: auto 0 auto 0;
}

h3 {
  color: #11999E;
  font-family: Darker-Grotesque, sans-serif;
  /*sans-serif is the fallback */
}

hr {
  border-style: none;
  height: 0;
  /*every Element is represented as box, so height 0 will give only single line or only x axis */
  border-color: grey;
  width: 4%;
  /*Total width of element HR */
  border-width: 5px;
  /*width of each dot */
  border-top-style: dotted;
  margin-bottom: 50px;
}

a{
  color: #11999E;
}
/************Class Selector***********/
.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.top-h2{
  font-weight:lighter;
}
.dummy-image {
  width: 200px;
  height: 200px;
}

.middle-container {}

.bottom-container {}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.middle-cloud {
  position: absolute;
  left: 300px;
}
